#Change so it points to your local rsync
rsync=/usr/bin/rsync
#Lock file to make sure we only run one instance at a time. Needed for initial / long syncs or slow links
LOCK_FILE=/var/tmp/ftp_ccc_de_mediasync.lock

#In case of an error, emails will be send to contact email
CONTACTEMAIL=admin@mirror

#The master node to sync with
MASTER=upload.media.ccc.de

#TARGET has to end with a slash! Change it to suit you local installation
TARGET=/mnt/ftp/ftp.ccc.de/
#Your local user/group for file permissions
FTPUSER=somelocaluser
FTPGROUP=somelocaluser

# the account to send our files to the ftp master via sftp is defined in UPLOADACCOUNT
# the account to receive changes via rsync is defined in the RSYNCMASTER variable
RSYNCMASTER=rsync://darmstadt@koeln.media.ccc.de/ftp
RSYNCMASTERPWFILE=darmstadt_media_rsync_pw




